<?xml version="1.0" encoding="UTF-8"?>
<plugin title="Scheduler Plugin" xmlns:pen="http://www.pentaho.org/2008/xul" name="scheduler-plugin">

  <lifecycle-listener class="org.pentaho.platform.scheduler2.quartz.EmbeddedQuartzSystemListener"/>
  <lifecycle-listener class="org.pentaho.platform.scheduler2.versionchecker.EmbeddedVersionCheckSystemListener"/>

  <perspective id="schedules.perspective" title="${schedules}" layout-priority="10"
               resourcebundle="content/scheduler-plugin/resources/messages/messages">
  </perspective>

  <static-paths>
    <static-path url="/scheduler-plugin/resources" localFolder="resources"/>
  </static-paths>

  <external-resources>
    <file context="requirejs">content/scheduler-plugin/resources/scheduler-plugin-require-js-cfg.js</file>
    <file context="mantle">content/scheduler-plugin/resources/gwt/schedulerplugin.nocache.js</file>
  </external-resources>

</plugin>
