<?xml version="1.0" encoding="UTF-8"?>
<!-- ******************************************************************************
 *
 * Pentaho
 *
 * Copyright (C) 2002 - 2026 by Pentaho Canada Inc. : http://www.pentaho.com
 *
 * Use of this software is governed by the Business Source License included
 * in the LICENSE.TXT file.
 *
 * Change Date: 2030-06-15
 ******************************************************************************* -->

<settings>
  <!-- set this to true for production, and false for development/localization -->
  <cache-messages>true</cache-messages>
  <!-- how far ahead to set the browser's cache -->
  <max-age>2628001</max-age>
  <cache>true</cache>
  <!--  If scheduler-fallback is true, the current session user becomes owner of schedules when:
   * the schedule owner no longer exists
   * the schedule owner no longer has sufficient privileges
   * the schedule output path is invalid (doesn't exist, or schedule owner doesn't have permission)

   Set this value as false to disable fallback behavior and maintain original scheduler user/path settings.

   Valid values are [true,false] default "true".
   -->
  <scheduler-fallback>true</scheduler-fallback>
</settings>
